@model Departamento

<h1 style="color:green">
    Modificar departamento
</h1>

<a asp-controller="Departamentos"
   asp-action="Index" class="btn btn-outline-info">
    Volver
</a>

<form method="post">
    
    <input type="hidden" name="iddepartamento" value="@Model.IdDepartamento" class="form-control" />
    <br />
    <label>Nombre:</label>
    <input type="text" name="nombre" value="@Model.Nombre" class="form-control" />
    <br />
    <label>Localidad:</label>
    <input type="text" name="loc" value="@Model.Loc" class="form-control" />
    <br />
    <button class="btn btn-success">Modificar!</button>
</form>